%section.game-container
  %h1= 'Tic Tac Toe'
  %p= 'Make your move. Refresh the page to start over.'
  %table 
    %tr 
      %td.button 
        .placement 
      %td.button
        .placement
      %td.button
        .placement
    %tr
      %td.button
        .placement
      %td.button
        .placement
      %td.button
        .placement
    %tr
      %td.button
        .placement
      %td.button
        .placement
      %td.button
        .placement
