%section.game-container
  %h1= 'Tic Tac Toe'
  %p= 'Make your move. Refresh the page to start over.'
  %table 
    %tr 
      %td{class: 'button', data: {space: 0}} 
        .placement 
      %td{class: 'button', data: {space: 1}}
        .placement
      %td{class: 'button', data: {space: 2}}
        .placement
    %tr
      %td{class: 'button', data: {space: 3}}
        .placement
      %td{class: 'button', data: {space: 4}}
        .placement
      %td{class: 'button', data: {space: 5}}
        .placement
    %tr
      %td{class: 'button', data: {space: 6}}
        .placement
      %td{class: 'button', data: {space: 7}}
        .placement
      %td{class: 'button', data: {space: 8}}
        .placement
